/* * {
  border: 1px dotted red;
} */

.App {
  /* border: 1px solid grey; */
  padding: 50px;
  box-shadow: 0 0 10px grey;
  max-width: 700px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.my-message {
  text-align: end;
}

.foreign-message {
  text-align: start;
  font-style: italic;
}

.my-message, .foreign-message {
  padding: 5px 0;
  border-top: 2px dotted lightgray;
}
